# Default ignored files
/shelf/
/.idea/
.mvn
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
target/
*.iml
.idea/
/ClientProfileUpdate/target
/ClientProfileAut/target
/ClientProfileAvatar/target
/ClientProfileCommon/target
/ClientProfileFacade/target
/ClientProfileLoader/target
/ClientProfileNotification/target
/ClientProfileRecognition/target
/ClientProfileService/target